


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}

nav {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: red;
    margin-bottom: 40px;
}
nav > ul {
    padding-left: 0;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0;
}
nav li {
    display: inline-flex;
}
nav a {
    padding: 10px;
    margin: 2px;
    margin-bottom: 0;
    text-decoration: none;
    border: 2px solid transparent;
    color: white;
    transition: .5s;
}

nav li:hover > a {
    background: white;
    color: black;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.home-content {
    font-size: 1.05em;
}

nav a:hover{
    background: #ddeeff;
    border-bottom: 2px solid #a774b3;
    transition: .5s;
}

footer {
    clear: both;
}

.mr-2 {
    margin-right: .5em;
}

.container {
    max-width: 1000px;
    margin: 80px auto;
    margin-top: 210px;
}
.content-block, nav {
    width: 100%;
}
.info {
    margin: 2em 0;
}

.menu-item {
    width: calc(33.333% - 12px);
    margin: 5px;
    float: left;
    padding: 8px;
}
.row-separator {
    clear: both;
}
.menu-item-img {
    max-width: 100%;
    max-height: 125px;
    transition: max-height .5s;
    display: block;
    margin: 0 auto;
    clear: both;
}
.menu-item-img-wrapper {
    height: 250px;
}
.menu-item:hover .menu-item-img {
    max-height: 250px;
}

.menu-item:hover{
    box-shadow: 10px 10px 5px #888888;
    border: 2px double black;
    transition: .5s;    
}

.directions-pane {
    min-height: 520px;
}
