extends layout

block content
    div(class='info')
        p Hello, Directions!
    iframe(src='https://www.google.com/maps/embed/v1/place?q=Neumont+University&zoom=17&key=AIzaSyBAgEwg92-0BrwRLYPnEbyLAqsGarbUcW4', class='content-block')
