extends layout

block content
    div(class='info')
        p We're located in the heart of downtown Salt Lake City just one and a half blocks south of Temple Square. 
    iframe(src='https://www.google.com/maps/embed/v1/place?q=Neumont+University&zoom=17&key=AIzaSyBAgEwg92-0BrwRLYPnEbyLAqsGarbUcW4', class='content-block')
