doctype html
html
    head
        title=title || 'Express Burgers'
        link(href='styles.css', rel='stylesheet')
        link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    
    body
        div(class='container')
            include header
            block content
            footer
                p &copy; 2017 - Team No