doctype html
html
    head
        title=title || 'Express Burgers'
        link(href='styles.css', rel='stylesheet')
        link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    
    body
        div(class='container')
            include header
            block content
