nav
    ul
        li
            i(class='fa fa-home mr-2')
            a(href='/') Home
        li
            i(class='fa fa-cutlery mr-2')
            a(href='/burgers') Burgers
        li
            i(class='fa fa-coffee mr-2')
            a(href='/sides') Side Dishes
        li
            i(class='fa fa-birthday-cake mr-2')
            a(href='/desserts') Desserts
        li
            i(class='fa fa-car mr-2')
            a(href='/directions') Directions
