nav
    ul
        each link in navMenu
            li
                a(href=link[1])
                    if link[2]
                        i(class='fa mr-2 ' + link[2])
                    span=link[0]
