nav
    ul
        li
            a(href='/') Home
        li
            a(href='/directions') Directions
        li
            a(href='/burgers') Burgers
        li
            a(href='/side-dishes') Side Dishes
        li
            a(href='/desserts') Desserts
